<div *ngIf="!country; else divCountry" class="alert alert-info">
  Espere por favor...
</div>
<ng-template #divCountry>
  <div class="row">
    <div class="col-12">
      <h1>
        País <small>{{ country.name }}</small>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h3>Bandera</h3>
      <img [src]="country.flag" class="img-thumbnail" />
    </div>
    <div class="col">
      <h3>Información</h3>
      <ul class="list-group-item">
        <li class="list-group-item">
          <strong>Población</strong> {{ country.population | number }}
        </li>
        <li class="list-group-item">
          <strong>Código Numérico</strong> {{ country.numericCode | number }}
        </li>
        <li class="list-group-item">
          <strong>Código Alpha3</strong> {{ country.alpha3Code }}
        </li>
      </ul>
    </div>
  </div>
  <h3>Traducciones</h3>
  <div class="row">
    <div class="col">
      <span
        class="badge bg-primary me-1"
        *ngFor="let translation of countryTranslations"
      >
        {{ translation }}
      </span>
    </div>
  </div>

  <pre class="mt-5">
      {{ country | json}}
  </pre>
</ng-template>
